#payment_contioner {
    width: 80%;
    margin: auto;
  }
  
  #fedex {
    display: flex;
  }
  
  #img_fed {
    height: 50px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  #para_fed {
    width: 25%;
    margin-left: 6px;
  }
  
  #contory_select {
    text-align: end;
    margin-right: 20px;
  }
  
  #Contory {
    height: 40px;
    font-size: larger;
    font-weight: bolder;
  }
  
  #return_page {
    text-decoration: none;
    font-size: larger;
    text-decoration: underline;
    color: rgb(15, 11, 11);
    margin-left: 10px;
  }
  
  #both_form_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto);
    gap: 20px;
    margin-top: 20px;
  }
  
  #para {
    display: flex;
    padding-left: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 20px;
    width: 80%;
    margin: auto;
  }
  
  #para > div:nth-child(1) {
    width: 90%;
  }
  
  #left_input > form > input {
    height: 20px;
    width: 60%;
    margin-left: 35%;
    margin-top: 5px;
  }
  
  #address {
    display: flex;
    justify-content: space-between;
  }
  
  #address > h1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #card_img > img {
    margin-top: 30px;
    height: 60px;
  }
  
  #card_ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(400px, auto);
    gap: 20px;
    width: 80%;
    margin: auto;
  }
  
  /* #card_ > div {
     border: 1px solid; 
  } */
  #card_Sectelt {
    font-size: larger;
    font-weight: bolder;
    margin-right: 20px;
  }
  
  .card_input {
    height: 20px;
    margin-top: -5;
  }
  
  #para_ {
    margin-top: 20px;
  }
  
  
  #order {
    height: 40px;
    width: 15%;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(64, 129, 64);
    color: white;
    border: 0px;
  }
  #btn {
    text-align: end;
    margin-right: 20%;
  }