* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
#sideNav_wrapper {
  width: 30%;
  height: 100%;
  display: flex-start;
  border: 2px solid red;
}
.row {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-gap: 20px;
  border: 2px solid pink;
}
.column {
  margin-left: 30px;
  margin-top: 30px;
}
.column img {
  width: 320px;
  height: 320px;
}
.column div div div img {
  width: calc(77px / 5);
  height: calc(77px / 5);

  margin-right: 3px;
}
.price_tag {
  color: #c7202c;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
